<div class="row-fluid" id="dashboard">
	
	<nav class="span2" id="sidebar">
		<ul class="nav nav-list">
			<li class="nav-header">Actions</li>
			<li><a class="" href="#/tasks/add"><i class="icon-plus-sign"></i> Add Task</a></li>
			<li></li>
		</ul>
		<ul class="nav nav-list" id="viewsChoser">
			<li class="nav-header">Quick Actions</li>
			<li>
				<a href="#">
					<i class="icon-plus-sign"></i> Add Event
				</a>
			</li>
		</ul>
	</nav>	
	<section  class="span10">
		<div class"page-header">
			<h1>Dashboard</h1>
		</div>
	</section>

</div>