<div class="row-fluid" id="dashboard">
	
	<aside class="span2" id="sidebar" ng-include src="'templates/events/sidebar.html?c'"></aside>	
	
	<div  class="span10">
		<nav class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#/events">Events</a>

				<form class="navbar-search pull-left">
					<input type="text" class="search-query" placeholder="Filter" ng-model="filters.query">
				</form>
				<ul class="nav pull-left">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Ordering <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a role="button"  ng-click="filters.orderBy='name';filters.order=false">
									<i ng-class="{true:'icon-star', false:'icon-star-empty'}[filters.orderBy=='name']"></i> Name
								</a>
							</li>
							
							<li>
								<a role="button" ng-click="filters.orderBy='date.start';filters.order=true">
									<i ng-class="{true:'icon-star', false:'icon-star-empty'}[filters.orderBy=='date.start']"></i> Date
								</a>
							</li>
							<li>
								<a role="button"  ng-click="filters.orderBy='outcomes';filters.order=false">
									<i ng-class="{true:'icon-star', false:'icon-star-empty'}[filters.orderBy=='outcomes']"></i> Outcomes
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#/events" ng-click="filters.query='';filters.orderBy='name'">Clear filters</a>
							</li>
						</ul>
					</li>
				</ul>
		        <ul class="nav pull-right">
					<li class="divider-vertical"></li>
					<li ng-class="{true:'active', false:''}[view=='block']"><a href="#/events?view=block" ng-click="view='block'"><i class="icon-th"></i></a></li>
					<li ng-class="{true:'active', false:''}[view=='list']"><a href="#/events?view=list" ng-click="view='list'"><i class="icon-list"></i></a></li>
		        </ul>
			</div>
		</nav>
		<div class="row-fluid" ng-show="filters.query">
			<div class="span12">
				<strong><i class="icon-caret-right"></i> Results for "{{filters.query}}"</strong>
				<a href="#/events" role="button" ng-click="filters.query=''" title="Clear results"><i class="icon-remove-sign"></i></a>
			</div>
		</div>
		<section class="row-fluid" id="blockView" ng-show="view=='block'">
			<div class="boxes">
				<div class="box span3" ng-repeat="event in events | filter:filters.query | orderBy:filters.orderBy:filters.order" ng-controller="EventCtrl">
					<div class="box-header">
						<!-- <button type="button" class="close" aria-hidden="true">&times;</button> -->
						<a href="#/events/detail/{{event._id}}"><h3><i class="icon-time"></i> {{event.name}}</h3></a>
						<small>Created the {{event.created.date | date:"shortDate"}} by {{_user(event.created.uid).firstname}}</small>	
					</div>
					<div class="box-content">
						<table>
							<tr ng-show="event.description !=''">
								<th><i class="icon-hand-right"></i></th>
								<td>{{event.description}}</td>
							</tr>
							<tr>
								<th><i class="icon-calendar"></i></th>
								<td>
									  <span class="label">{{event.date.start | date:"dd/MM/yyyy"}}</span> <i class="icon-arrow-right"></i>  <span class="label">{{event.date.end | date:"dd/MM/yyyy"}}</span>
								</td>
							</tr>
							<tr>
								<th><i class="icon-group"></i></th>
								<td><span class="badge badge-success">{{event.participants.length}}</span></td>
							</tr>
							<tr>
								<th><i class="icon-arrow-up"></i></th>
								<td><span class="label label-success">  {{'142'}}&euro;</span></td>
							</tr>
						</table>
					</div>

					<div class="box-footer">
						<div class="btn-group">
							<a href="#/events/detail/{{event._id}}" class="btn btn-primary">View</a>
							<a href='#/events/edit/{{event._id}}' class="btn btn-warning">Edit</a>
							<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#/events/remove/{{event._id}}"><i class="icon-remove"></i> Remove</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="row-fluid" id="listView" ng-show="view=='list'">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Starts on</th>
						<th>Ends on</th>
						<th>Participants</th>
						<th>Actions</th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat="event in events | filter:filters.query | orderBy:filters.orderBy:filters.order" ng-controller="EventCtrl">
						<td>{{event.name}}</td>
						<td>{{event.description}}</td>
						<td>{{event.date.start  | date:"dd/MM/yyyy"}}</td>
						<td>{{event.date.end  | date:"dd/MM/yyyy"}}</td>
						<td>
							<ng-pluralize count="event.participants"
							when="{'0': 'Nobody is participating.',
								'one': '1 person is participating.',
								'other': '{} people are participating.'}">
							</ng-pluralize>
						</td>
						<td>
							<div class="btn-group">
								<a href="#/events/detail/{{event._id}}" class="btn btn-mini btn-warning" title="Edit"> <i class="icon-edit"></i></a>
								<a href="#/events" ng-click="deleteEvent(event)" class="btn btn-mini btn-danger" title="Delete"><i class="icon-remove"></i></a>
							</div>
						</td>	
					</tr>
				</tbody>
			</table>
		</section>
	</div>

</div>