<ul class="nav nav-list" id="viewsChoser">
	<li class="nav-header">Quick Actions</li>
	<li ng-class="{true:'active',false:''}[view=='add']">
		<a href="#/events/detail/{{event._id}}?view=add" ng-click="view='add'"><i class="icon-plus-sign"></i> Add Expense</a>
	</li>
	<li>
		<a href="#/events/add">
			<i class="icon-plus-sign"></i> Add Event
		</a>
	</li>
</ul>
<ul class="nav nav-list">
	<li class="nav-header">Events list</li>
	<li ng-repeat="event in events"><a class="" href="#/events/detail/{{event._id}}"><i class="icon-time"></i> {{event.name}}</a></li>
	<li></li>
</ul>


